<!-- component -->
<body>
  <section class="min-h-screen flex items-center justify-center text-white bg-gradient-to-tr from-[#03182b] to-[#0a579d]">

      <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0">

          <div class="w-full py-6 z-20">
              <div class="w-auto h-7 sm:h-8 inline-flex">
                  <img src="../../assets/img/DeliMatch.png" alt="" class="w-[200px] h-[190px]">
              </div>


              <form action="" class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto">
                  <div class="pb-2 pt-4">
                      <input type="email" name="email" id="email" placeholder="Email" class="block w-full p-4 text-lg rounded-sm bg-black">
                  </div>
                  <div class="pb-2 pt-4">
                      <input class="block w-full p-4 text-lg rounded-sm bg-black" type="password" name="password" id="password" placeholder="Contraseña">
                  </div>
                  <div class="text-right text-gray-400 hover:underline hover:text-gray-100">
                      <a href="#">¿Olvidaste tu contraseña?</a>
                  </div>
                  <div class="px-4 pb-2 pt-4">
                      <button class="uppercase block w-full p-4 text-lg rounded-full bg-indigo-500 hover:bg-indigo-600 focus:outline-none">Iniciar Sesión</button>
                  </div>
                  <div class="py-6 space-x-2">
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">f</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">G+</span>
                    <span class="w-10 h-10 items-center justify-center inline-flex rounded-full font-bold text-lg border-2 border-white">in</span>

                  </div>
              </form>
          </div>
      </div>
  </section>
</body>


